.role-container {
    display: flex;
    justify-content: space-between;
    min-width: 400px;
    border: 3px solid #2716e9;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px;
}

.role-container:hover {
    border: 3px solid #186eb9;
}



  @media (min-width: 1200px) {
    .col-md-6 {
      flex:0 0 50% !important;
      max-width: 50% !important;
    }
  }

  .my-btn-blue{
    border: 3px solid #4032e3 !important;
  background-color: transparent;
  color: #3553db !important;
  font-weight: 900;
  outline: none !important;
  padding: 1px 10px !important;
  border-radius: 3px;
  font-size: 13px;
  display: flex;
  align-items: center;
margin-right: 0.5rem!important;
  }

  .my-btn-blue:hover {
    background-color: #2781bc20;
  }