.login-container-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-main-container {
  width: 30vw;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.login-main-logo {
  width: 60px;
  height: 60px;
}
.login-header {
  font-weight: 600;
  font-size: 20px;
}

.verify-btn {
  background-color: #e48f20;
  color: white;
  border: none;
  outline: none !important;
  padding: 5px 50px;
  border-radius: 3px;
  font-size: 13px;
  font-weight: 500;
}

.verify-btn:active {
  background-color: #ce821e;
}
