@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400&display=swap");

* {
  font-family: "Lato", sans-serif;
}

body {
  background-color: #f2f4f3 !important;
  overflow-x: hidden;
}

.loading-container {
  z-index: 1000;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff9d;
}

.loading-container img {
  width: 50px;
  height: 50px;
}

a {
  color: #3273a5;
}

a:hover {
  color: #e48f20;
}

@media (min-width: 576px) {
  /* navbar */
  .navbar {
    height: 48px !important;
  }
}

.navbar {
  z-index: 1000;
}

.navbar-brand img {
  width: 25px !important;
  height: 25px !important;
  margin-left: 30px;
}
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show > .nav-link {
  color: #e48f20 !important;
}
.nav-link {
  font-size: 15px;
  font-weight: 500;
}
.brand-title {
  font-size: 15px;
  font-weight: 600;
  margin-left: 20px;
}
.bg-dark {
  background-color: #232f3e !important;
}
/* navbar end */

/* sidebar start */
.my-sidebar {
  position: absolute;
  display: flex;
  flex-direction: column;
  flex: 1;

  bottom: 0;
  top: 48px;
  background-color: white;
  border-right: 0.8px solid #0000002c;
  overflow-y: scroll;
  overflow-x: hidden;
}
ion-icon {
  cursor: pointer;
}

.my-sidebar.open {
  width: 250px;
}

.my-sidebar.closed {
  width: 30px;
  overflow: hidden;
  transition: width 0.3s ease;
}

@media (max-width: 768px) {
  .my-sidebar {
    width: 30px !important; /* Set the width to 0 to hide the sidebar */
    overflow: hidden; /* Hide any overflowing content */
    transition: width 0.3s ease;
    position: inherit; /*avoid overlapping with the nav bar */
  }
  .my-sidebar.closed {
    /* side bar is open therefore close it to expand the side bar*/
    width: 100% !important;
    z-index: 1; /*to overlay the side bar*/
    position: absolute;
    overflow-y: scroll;
  }
  .main-container-section {
    left: 30px !important;
  }
}

.sidebar-header-block {
  border-bottom: 0.8px solid #0000002c;
  padding: 10px 7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar-menu-block {
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
}

.sidebar-menu-item {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 800;
  margin-bottom: 15px;
}

.sidebar-menu-item-heading {
  display: flex;
  align-items: center;
}

.sidebar-menu-item ion-icon {
  padding-right: 10px;
  font-size: 12px;
}

.sidebar-submenu {
  margin-left: 35px;
  display: flex;
  flex-direction: column;
  font-weight: 600;
  font-size: 13px;
  margin-top: 5px;
}
.sidebar-submenu-item {
  color: #585858;
  margin: 3px 0;
}
.sidebar-submenu-item:hover {
  color: #e48f20;
}
/* sidebar end */

/* main container */
.main-container-section {
  position: absolute;
  top: 48px;
  left: 250px;
  right: 0;
  bottom: 0;
  padding-top: 25px;
}

.page-main-header {
  font-weight: 700;
  font-size: 30px;
}
.page-sub-header {
  font-size: 13px;
  font-size: 800;
}
/* main container end */

/* main page container */
.main-container-section {
  position: absolute;
  top: 48px;
  bottom: 0;
  overflow-y: scroll;
  padding-bottom: 50px;
}
/* main page container end */

/* scroll */
/* For WebKit based browsers (e.g., Chrome, Safari) */
::-webkit-scrollbar {
  width: 4px; /* width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #d9d9d9; /* color of the thumb (the draggable part) */
  border-radius: 6px; /* roundness of the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #8e8e8e; /* color of the thumb when hovered */
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent; /* color of the track (the area behind the thumb) */
}

/* For Firefox */
/* Note that Firefox uses a different pseudo-element for styling the thumb */
/* Also, the thumb and track have separate pseudo-elements for horizontal and vertical scrollbars */

/* For vertical scrollbar thumb */
::-moz-scrollbar-thumb {
  background-color: #d9d9d9; /* color of the thumb (the draggable part) */
  border-radius: 6px; /* roundness of the thumb */
}

::-moz-scrollbar-thumb:hover {
  background-color: #8e8e8e; /* color of the thumb when hovered */
}

/* For vertical scrollbar track */
::-moz-scrollbar-track {
  background-color: transparent; /* color of the track (the area behind the thumb) */
}

/* For horizontal scrollbar thumb */
::-moz-scrollbar-thumb:horizontal {
  background-color: #d9d9d9; /* color of the thumb (the draggable part) */
  border-radius: 6px; /* roundness of the thumb */
}

::-moz-scrollbar-thumb:horizontal:hover {
  background-color: #8e8e8e; /* color of the thumb when hovered */
}

/* For horizontal scrollbar track */
::-moz-scrollbar-track:horizontal {
  background-color: transparent; /* color of the track (the area behind the thumb) */
}

/* card */

.my-card {
  display: flex;
  flex-direction: column;
  background: #fff;
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
}

.my-card-header {
  background-color: #fafafa;
  padding: 10px 30px;
  font-size: 15px;
  font-weight: 900;
}

.my-card-body {
  padding: 20px;
}

/* card end */

/* inputs start*/

/* input lable */
.my-input-label {
  font-size: 13px;
  font-weight: 600;
  color: #5d5f5f;
}

.my-input-footer-label {
  color: #5d5f5f;
  font-size: 12px;
  font-style: italic;
}

/* input border form control */
.form-control {
  border: 2px solid #ced4da !important;
  height: 32px !important;
  font-size: 13px;
}
.form-subtitle {
  font-size: 15px;
  font-weight: 900;
}

.form-control::placeholder {
  font-style: italic !important;
  font-size: 13px;
}

/* inputs end */

/* buttons */

/* basic btn - lg-bg */
.my-btn-lg {
  border: 2px solid #4e4e4e !important;
  background-color: transparent;
  color: #4e4e4e;
  outline: none !important;
  padding: 5px 50px;
  border-radius: 3px;
  font-size: 13px;
  font-weight: 600;
}

.my-btn-lg:hover {
  background-color: #4e4e4e27;
}

.my-btn {
  border: 3px solid #4e4e4e93 !important;
  background-color: transparent;
  color: #4e4e4ecc !important;
  font-weight: 900;
  outline: none !important;
  padding: 1px 10px !important;
  border-radius: 3px;
  font-size: 13px;
  display: flex;
  align-items: center;
}

.my-btn:hover {
  background-color: #4e4e4e0b;
}

.my-btn-danger {
  border: 3px solid #ca2e2e !important;
  background-color: transparent;
  color: #ca2e2e !important;
  font-weight: 900;
  outline: none !important;
  padding: 1px 10px !important;
  border-radius: 3px;
  font-size: 13px;
  display: flex;
  align-items: center;
}

.my-btn-primary {
  border: 3px solid #2e6aca !important;
  background-color: transparent;
  color: #2768e0 !important;
  font-weight: 900;
  outline: none !important;
  padding: 1px 10px !important;
  border-radius: 3px;
  font-size: 13px;
  display: flex;
  align-items: center;
}

.my-btn-danger:hover {
  background-color: #ca2e2e20;
}

/* datatable */
.dataTables_wrapper .dataTables_length {
  float: right !important;
  padding-right: 20px;
  margin-top: 20px !important;
}

.dataTables_wrapper .dataTables_filter {
  float: left !important;
  padding-left: 20px;
  margin-top: 20px !important;
}

.dataTables_paginate {
  padding-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.dataTables_info {
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.dataTables_wrapper {
  font-size: 14px;
  background-color: #fafafa;
}

.dataTable tbody {
  background-color: white;
}

.dataTable thead {
  margin-top: 20px;
}

.dataTable thead th,
.dataTable tbody td {
  padding-left: 30px !important;
  padding-right: 30px !important;
}
/* datatable end */

/* vertical ruler */

.vertical-ruler {
  border-left: 2px solid #9eaaab; /* Adjust the color and width as needed */
  height: inherit; /* Adjust the height of the ruler */
  margin: 0 20px; /* Adjust the left/right margin to control the distance from other content */
}

/* vertical ruler end */

/* Define the button style */
.blue-button {
  display: inline-block;
  padding: 10px 10px;
  color: #007bff; /* Text color */
  cursor: pointer;
  text-align: center;
  text-decoration: underline;
  font-size: 18px;
}
.red-button {
  display: inline-block;
  padding: 10px 10px;
  color: #ff0000; /* Text color */
  cursor: pointer;
  text-align: center;
  text-decoration: underline;
  font-size: 18px;
}

/* table data*/
td {
  white-space: pre-line;
}
td.wrapped {
  word-wrap: break-word;
}
